<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>register</key>
	<dict>
		<key>name</key>
		<string>Name:</string>
		<key>email</key>
		<string>Email:</string>
		<key>region</key>
		<string>Region:</string>
		<key>password</key>
		<string>Passoword:</string>
	</dict>
	<key>errors</key>
	<dict>
		<key>required</key>
		<string>You must enter a value</string>
		<key>generic</key>
		<string>Something went wrong, please, try again</string>
		<key>name</key>
		<string>Not a valid name, min 3 characters</string>
		<key>password</key>
		<string>Not a valid password, min 6 characters</string>
		<key>email</key>
		<string>Insert a valid email</string>
	</dict>
	<key>discover</key>
	<dict>
		<key>added</key>
		<string>Movie added to the favorite list.</string>
	</dict>
	<key>base</key>
	<dict>
		<key>info</key>
		<string>Information</string>
		<key>error</key>
		<string>Error</string>
		<key>ok</key>
		<string>Ok</string>
	</dict>
	<key>genres</key>
	<dict>
		<key>section_tv</key>
		<string>Tv</string>
		<key>section_movie</key>
		<string>Movies</string>
		<key>dialog_title</key>
		<string>Choose your language</string>
		<key>dialog_message</key>
		<string>The language preference to retrieve info about the movies</string>
	</dict>
</dict>
</plist>
